/* Unificado con el resto de catálogos */
.estado-table .p-button-success {
  margin-right: 0.5rem;
}

.estado-table .p-button-danger {
  margin-left: 0.2rem;
}

.card.p-6 {
  padding: 2rem;
}

.field {
  margin-bottom: 1.5rem;
}
